<footer class="f-info">
  <div class="f-info-link">
    <a href="/about">About</a> | <a href="/contact">Contact</a> | <a href="/privacy">Privacy Policy</a>
  </div>
  <div class="f-info-socials">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="f-info-copyright">
    &copy; 2025 CampusConnect. All rights reserved.
  </div>
</footer>